<div>シンプルな家計簿アプリです</div>
<h2>科目設定</h2>
<ul>
	<li><%= link_to "収入科目設定", incomes_path %></li>
</ul>
<ul>
	<li><%= link_to "固定費科目設定", fixedcosts_path %></li>
</ul>
<ul>
	<li><%= link_to "変動費科目設定", valiablecosts_path %></li>
</ul>
<ul>
	<li><%= link_to "収入登録", new_income_value_path %></li>
</ul>