<h2>変動費科目の詳細</h2>
 
<%= link_to "編集", edit_valiablecost_path %>
<%= link_to "変動費科目一覧へ戻る", valiablecosts_path %>
 
<table>
 
	<tr>
    <th>名称</th>
    <td><%= @valiablecost.name %></td>
  </tr>
 
	<tr>
		<th>説明</th>
		<td><%= @valiablecost.description %></td>
	</tr>
</table>